{
	"site": {
		"title": "",
		"domain": "",
		"analytics": "",
		"loginId": "",
		"loginPassword": ""
	},
	
	"evernote": {
		"token": "",
		"notebookGuid": "",
		"publishedGuid": "",
		"sandbox": true
	},
	
	"mongoose" : {
		"host": "localhost",
		"database": "enpublisher",
		"port": "27017"
	}
}