extends ../base

block outer
 .jumbotron
  .row
   .col-md-4.col-md-offset-4
    .panel.panel-success
     .panel-heading
      h2.panel-title Please sign in
     .panel-body
      form.form-signin(role="form",action="./",method="post")
       if dologin
        .alert.alert-danger Faild to sign in.
       .form-group
         input.form-control(placeholder="ID",type="text",name="ID",value="#{ID}",required,autofocus)
       .form-group
         input.form-control(placeholder="Password",type="password",name="Password",value="",required)
       .form-group
         button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in

